# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build výstupy
dist/
build/
coverage/

# Editor / OS soubory
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env soubory
.env
